
<div style="text-align:center">
  <h1>Request a TCU Spirit Appearance</h1>

  <div class = "container">
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" novalidate>
      
      <div class="form-row">
        <div class="form-group col-md-6">  
        <label >Contact First Name:</label>
        <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group col-md-6">
        <label >Contact Last Name:</label>
        <input type="text" class="form-control" formControlName="lastName">
        </div>
      </div>

      
        <div class="form-group col-md-4">
          <label> Date: </label> 
          <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control">
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
          </div>
        </div>
      
        <div class="form-row">
        <div class="form-group col-md-2">
          <label class = "col-form-label">Start Time:</label>
          <select class="form-control" formControlName="startTime">
              <option selected>Choose...</option>
              <option>...</option>
          </select>
        </div>
      
        <div class="form-group col-md-2">
          <label class = "col-form-label">End Time:</label>
          <select class="form-control" formControlName="endTime">
              <option selected>Choose...</option>
              <option>...</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label class = "col-form-label">Organization requesting appearance (if applicable):</label>
        <input type="text" class="form-control" formControlName="organization">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label class = "col-form-label">Phone Number:</label>
          <input type="text" class="form-control" formControlName="phoneNumber">
        </div>

        <div class="form-group col-md-6">
          <label class = "col-form-label">Email:</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
      </div>

      <div class= "form-row">
      <div class="form-group">
        <label>Location Address:</label>
        <input type="text" class="form-control" formControlName="location">
      </div>
      </div>

      <div class="form-group col-md-12">
        <label class = "col-form-label">Special Instructions (Parking, gate code, location for spirit members to change/ keep belongings):  </label>
        <input type="text" class="form-control" formControlName="specialInstruction">
      </div>

      <div class="form-group col-md-12">
        <label class = "col-form-label">
          What expenses/benefits, if any, will the spirit member(s) receive while participating?
        </label>
        <input type="text" class="form-control" formControlName="expenses">
      </div>

      <div class="form-group col-md-12">
        <label class = "col-form-label"> Will there be any other outside organizations involved in sponsoring the event?</label>
        <input type="text" class="form-control" formControlName="outsideOrg">  
      </div>

      <div class="form-group col-md-12">
        <label class = "col-form-label">Description of Event, if applicable:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>  
      </div>
      <p>By requesting this event, you are agreeing to the terms & conditions of a TCU Spirit Appearance.</p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
    <p>Form value: {{ requestForm.value | json }}</p>
  </div>
</div>