/* You can add global styles to this file, and also import other style files */
h1 {
    color: #4d1979;
}

h2 {
    color: #4d1979;
    font-size: 18px;
}

h3 {
    font-size: 24px !important;
    font-weight: lighter;
    color: #a3a9ac !important;
}

p {
    color: #a3a9ac;
}

body { 
    padding-top: 70px; 
}

.lead {
    color: white;
}
navbar, .navbar-expand-lg {
    margin-bottom: 0;
    background-color: rgba(f,f,f,0.56);
}

.jumbotron{
    background-image: url(/assets/images/SuperfrogFog.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
}

.btn-primary, .btn-primary:visited{
    color:#4d1979;
    background-color: transparent;
    border-color: #4d1979;
    border-radius: 0px;
    border-width: 4px;
}

.btn-primary:hover{
    background-color:  #4d1979 !important;
    border-color: white;
    color: white;

}
.top-buffer { margin-top:20px; }

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

#btn-text {
    color:white;
    text-decoration: none;
}

#jumbo-header {
    margin-top: 20%;
    color:white;
    font-size: 42px;
}

#a-nav, #a-nav:visited {
    color: #a3a9ac;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: Helvetica, Arial, sans-serif;
}

#a-nav:hover {
    background-color: transparent;
    color: black;
}

#jumbo-button {
    background-color: transparent !important;
    border-color: white;
    border-radius:0;
}

#jumbo-button:hover {

    background-color: #4d1979 !important;
}

#form-container {
    padding: 50px;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
}

#pad-container {
    padding: 50px;
}