@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 70px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #4d1979;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #4d1979;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 24px !important;
    font-weight: lighter;
    color: #a3a9ac !important;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #a3a9ac;
    font-family: 'Montserrat', sans-serif;
}

body { 
    padding-top: 70px; 
    font-family: 'Montserrat', sans-serif;
}

span{
    font-family: 'Montserrat', sans-serif;
}

label{
    font-family: 'Montserrat', sans-serif;
}

input{
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #4d1979;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #4d1979 !important;
    border-color: #4d1979 !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

.fc-title {
    font-family: 'Montserrat', sans-serif;
}

.lead {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
navbar, .navbar-expand-lg {
    margin-bottom: 0;
    background-color: rgba(f,f,f,0.56);
}

.jumbotron{
    background-image: url(/assets/images/SuperfrogFog.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}


a, a:visited{
    color: #4d1979;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    color: #ffffff;
}

.top-buffer { margin-top:20px; }


.btn-outline-primary:hover{
    background-color: #4d1979 !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

#btn-text {
    color:white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#jumbo-header {
    margin-top: 20%;
    color:white;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

#a-nav, #a-nav:visited {
    color: #a3a9ac;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
}

#a-nav:hover {
    background-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#form-container {
    padding: 50px;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
}

#pad-container {
    padding: 50px;
}

.navbar {
    background-color: #FFFFFF;
    min-height:50px;
    padding-bottom: 10px; 

}

#a-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #4d1979;
}

#a-nav:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #4d1979;
}