<div style="text-align:center; padding-top:125px;">
  <div style = "padding-bottom: 50px;">
    <h1>New Appearances Requested</h1>
  </div>
  <div class = "container" id = "request-container">
    <h3><a href="#">Requested Event Title Here</a></h3>
    <div class= "col-md-6">
      <p>Contact Name</p>
      <p>Contact Number</p>
      <p>Contact Email</p>
    </div>
    <div class= "col-md-6">
      <p>Event Date</p>
      <p>Event Address</p>
      <p>Event description preview</p>
    </div>
    <input class="btn btn-primary btn-space" type="accept" value="Accept">
    <input class="btn btn-secondary btn-space" type="reject" value="Reject">
    <p><a href="#">view on calendar</a></p>
  </div>
</div>