

<!--page content-->
<div style="text-align:center; padding-top:125px;">
  <div style = "padding-bottom: 50px;">
    <h1>New Appearances Requested</h1>
  </div>
  <div class = "container" id = "request-container" style = "margin-bottom: 50px; margin-top: 50px;">
    <h3><a href="#">Requested Event Title Here</a></h3>
    <div class= "col-md-6">
      <p>Contact Name: Sarah Allen</p>
      <p>Contact Number: 214-704-8877</p>
      <p>Contact Email: allensarahanne@gmail.com </p>
    </div>
    <div class= "col-md-6">
      <p>Event Date</p>
      <p>Event Address</p>
      <p>Event description preview</p>
    </div>
    <button class="btn btn-primary btn-space btn-md" type="accept">Accept</button>
    <button class="btn btn-secondary btn-space btn-md" type="reject">Reject</button>
    <p><a href="#">View on calendar</a></p>
  </div>
</div>