<!--admin nav-->
<div style="text-align:center">
    <nav class="navbar navbar-expand-lg fixed-top" style= "background: white;">
        <a href = "#" class = "navbar-brand"><img src="/assets/images/sfLogo.png" class="img-fluid" alt="Responsive image" width="150" height="150" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav ml-auto">
                <li><a id = "a-nav" href="#about">CALENDAR</a></li>
                <li><a id = "a-nav" href="#contact">MANAGE ROSTER</a></li>
                <li><a id = "a-nav" href="/list-accept-reject" routerLinkActive = "active">NEW APPEARANCES</a></li>
                <li><a id = "a-nav" routerLink="/superfrog-landing" routerLinkActive="active">PAYROLL</a></li>
                <li><a id = "a-nav" href="/admin-landing" routerLinkActive = "active">SETTINGS</a></li>
                <li><a id = "a-nav" href="/landing" routerLinkActive = "active">LOGOUT</a></li>
              </ul>
        </div>
      </nav>
  </div>

<!--Body-->
<div style="text-align:center; padding-top:125px;">
    <div class = "container align-center" id="request-container">
        <h1 style = "padding-bottom: 10px;">{{getData.name}}</h1>
        <p style = "padding-bottom: 10px;"><a href = "#" id = "edit">Edit event details</a></p>
<div style="text-align: center">
      <div class = "row">
        <div class = "col-md-4">
          <h3>Contact Name</h3> <p>{{getData.customer.first_name}} {{getData.customer.last_name}}</p>
          <h3>Phone Number</h3> <p>{{getData.customer.phone}}</p>
          <h3>Email</h3> <p>{{getData.customer.email}}</p>
        </div>
        <div class = "col-md-4">
            <h3>Event Date</h3> <p>{{getData.date}}</p>
            <h3>Time</h3> <p>{{getData.start_time}} - {{getData.end_time}}</p>
            <h3>Location</h3> <p>{{getData.location}}</p>
        </div>
        <div class = "col-md-4">
            <h3>Spirit Members</h3> <p>Cheerleaders: {{getData.cheerleaders}}
                 Showgirls: {{getData.showgirls}}</p>
            <h3>Special Instructions</h3> <p>{{getData.parking_info}}</p>
            <h3>Description</h3> <p>{{getData.description}}</p>
            
        </div>

      </div>
    </div>
    <div>
      <div>
        <button type="button" class="btn btn-primary btn-lg" style = "margin-left: 5px; margin-right: 5px;" (click)="acceptAppear()">Accept</button>
        <button type="button" class="btn btn-primary btn-lg" style = "margin-left: 5px; margin-right: 5px;" (click)="rejectAppear()">Reject</button>    
      </div>
      <p class= "text-muted">Be aware that you will not be able to cancel your appearance once you sign up. You will have to contact admin to cancel.</p>
    </div>