

 <!--Body-->
 <div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Admin View Appearances</li>
        </ol>
      </nav>
</div>

<div class = "container" style = "text-align: center; padding-top: 10px;">
  <p>Click on an event to view event details </p>
  <div class = "row top-buffer justify-content-center">
      <button class="btn btn-primary" style = "margin: 2px;" (click)="getAcceptedAppearance()">Accepted</button>
      <button class="btn btn-primary" style = "margin: 2px;" (click)="getAssignedAppearance()">Assigned</button>
      <button  class="btn btn-primary" style = "margin: 2px;" routerLink="/admin-appearance-details/" routerLinkActive="active">List All Upcoming Appearances</button>
  </div>
  <div class = "row top-buffer" style = "padding: 20px;" >
      <input type="date"  [(ngModel)]="chooseDate">
      <button class="btn btn-primary" style = "margin: 2px;" (click)="onChangeDate()">Go to date</button>
  </div>
<div *ngIf="calendarOptions">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)"></ng-fullcalendar>
</div>
</div>
