

 <!--Body-->
 <div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Admin View Appearances</li>
        </ol>
      </nav>
</div>

<div class = "container" style = "text-align: center; padding-top: 10px;">
  <p>Click on an event to view event details </p>
  <div class = "row top-buffer" style = "padding: 20px;">
      <button class="btn btn-primary btn-lg" style = "margin: 2px;" (click)="getPastAppearance()">Past</button>
      <button class="btn btn-primary btn-lg" style = "margin: 2px;" (click)="getAssignedAppearance()">Assigned</button>
      <button  class="btn btn-primary btn-lg" style = "margin: 2px;" type="accept"><a id = "btn-nav" routerLink="/admin-appearance-details/" routerLinkActive="active" style = "color: white;">View All Assigned Appearances</a></button>
      <input type="date"  [(ngModel)]="chooseDate">
        <button class="btn btn-primary btn-lg" style = "margin: 2px;" (click)="onChangeDate()">Change Month and Year</button>
    </div>
<div *ngIf="calendarOptions">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)"></ng-fullcalendar>
</div>
</div>
<div class = "col-md-6" style = "float: none; margin: 0 auto; padding-top: 20px;">
  <button  class="btn btn-primary btn-space btn-lg" type="accept"><a id = "btn-nav" routerLink="/admin-appearance-details/" routerLinkActive="active">View All Upcoming Appearance</a></button>
</div>