<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Superfrog Scheduler</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#contact">Login</a></li>
            </ul>
      </div>
    </nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bring some Superfrog Spirit to your event.</h1>
    <p class="lead">Book TCU's Superfrog for your wedding, party, & more. </p>
    <button id = "purpleButton" type="button" class="btn btn-primary"><a href = "#">Book now</a></button>
  </div>
</div>
<div class = "container">
  <h2>About</h2>
  <p>Superfrog is a great way to entertain guests at any event. Superfrog has had experience at weddings, graduation parties, alumni events, and more. </p>
</div>
</div>


<router-outlet></router-outlet>
