@import "~bootstrap/dist/css/bootstrap.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
.navbar {
    background-color: #FFFFFF;
    min-height:50px;
    padding-bottom: 10px; 

}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    font-family: 'Montserrat', sans-serif;
}

#a-nav {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #4d1979;
}

#a-nav:visited {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #4d1979;
}
a {
    color: #4d1979;
}
a[_ngcontent-c0]:hover {
    color: #4d1979;
    text-decoration: underline;
}