
<!--page content-->

<div class = "container" style="text-align:center; padding-top: 120px; height: 500px; ">
  <div id = "form-container">

      <img class = "thankyou-img" src = "/assets/images/superfrogFountain.jpg" style = "max-width: 250px; max-height: 250px; border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;">
      <div class = "col-md-8">
      <h1>You are now logged out!</h1>
      <button type="button" routerLink="">Home</button>
    </div>
  </div>
</div>
