
  
  <!--Body-->
  <div>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Admin Settings</li>
          </ol>
        </nav>
  </div>

  <!--Page Content -->
  
  <div class = "container align-center" style="padding-top: 10px;" >
      <div style="text-align:center">
        <div class="container align-center" id="pad-container">
        <h1>Admin Settings</h1>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Manage Roster</a>
            <a href="/admin-create-appearance" class="list-group-item list-group-item-action">Create Appearance</a>
          </div>
        </div>
      </div>
    </div>