
<!--page content-->
<div class = "container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">My Upcoming Appearances</li>
        </ol>
      </nav>
</div>
<div style="text-align:center; padding-top:40px;">
    <div style = "padding-bottom: 50px;">
      <h1>Hi, {{superfrog.user.first_name}}!</h1>
      <h2 *ngIf="landingData.length == 0">You have no upcoming appearances.</h2>
      <h2 *ngIf="landingData.length!=0"> Here are your upcoming appearances:</h2>
    </div>
    <div *ngFor="let names of landingData">
    <div class = "container" id = "request-container" style = "margin-bottom: 50px; margin-top: 50px;">
      <h3>{{names.appearance.name}}</h3>
      <div class = "container" style = "margin: 25px;" style = "float: none; margin: 0 auto;">
      <div class = "row">
        <div class= "col-md-6">
          <p class = "label">Start Time</p>
          <p>{{names.appearance.start_time}}</p>
          <p class = "label">End Time</p>
          <p>{{names.appearance.end_time}}</p>
        </div>
        <div class= "col-md-6">
          <p class = "label">Date</p>
          <p>{{names.appearance.date}}</p>
          <p class = "label">Location</p>
          <p>{{names.appearance.location}}</p>
        </div>
      </div>
      <div class = "col-md-6" style = "float: none; margin: 0 auto;">
          <p class = "label">Description</p>
          <p>{{names.appearance.description}}</p>
      </div>
      </div>
      <div class = "col-md-6" style = "float: none; margin: 0 auto; padding-top: 20px;">
        <button  class="btn btn-primary" type="accept" routerLink="/superfrog-landing-details/{{names.appearance.id}}" routerLinkActive="active">View Details</button>
      </div>
    </div>
    </div>
