
<div class="wrapper">

<!--superfrog nav-->
<div style="text-align:center">
    <nav class="navbar navbar-expand-lg fixed-top" style= "background: white;">
        <a href = "#" class = "navbar-brand"><img src="/assets/images/sfLogo.png" class="img-fluid" alt="Responsive image" width="150" height="150" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav ml-auto">
                <li><a id = "a-nav" href="#about">CALENDAR</a></li>
                <li><a id = "a-nav" href="/admin-landing" routerLinkActive = "active">SETTINGS</a></li>
                <li><a id = "a-nav" href="/landing" routerLinkActive = "active">LOGOUT</a></li>
              </ul>
        </div>
      </nav>
  </div>

<!--page content --> 
  <div id="main">
    <div class = "container-fluid">
    <div style="text-align:center; padding-top:100px;">
        <div style = "padding-bottom: 20px;">
          <h1>Hi, John</h1>
          <h3>New Appearances Requested</h3>
          <p>You have completed 2 appearances this month.</p>
        </div>
        <div class = "container" id = "request-container" >
          <h3><a href="#">Requested Event Title Here</a></h3>
          <p><a href="#">View on calendar</a></p>
          <div class= "col-md-6">
            <p>Contact Name: Sarah Allen</p>
            <p>Contact Number: 214-704-8877</p>
            <p>Contact Email: allensarahanne@gmail.com </p>
          </div>
          <div class= "col-md-6">
            <p>Event Date</p>
            <p>Event Address</p>
            <p>Event description preview</p>
          </div>
          <button class="btn btn-primary btn-space btn-md" type="accept">Can Attend</button>
          <button class="btn btn-secondary btn-space btn-md" type="reject">Unable to Attend</button>
        </div>
      </div>

      <div style="text-align:center; padding-top:50px; padding-bottom: 50px;">
          <div style = "padding-bottom: 20px;">
            <h3>Your Upcoming Appearances</h3>
            <p>These are appearances that you have signed up to attend.</p>
          </div>
          <div class = "container" id = "request-container" >
            <h3><a href="#">Requested Event Title Here</a></h3>
            <p><a href="#">View on calendar</a></p>
            <div class= "col-md-6">
              <p>Contact Name: Sarah Allen</p>
              <p>Contact Number: 214-704-8877</p>
              <p>Contact Email: allensarahanne@gmail.com </p>
            </div>
            <div class= "col-md-6">
              <p>Event Date</p>
              <p>Event Address</p>
              <p>Event description preview</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
