<div style= "text-align: center">
  <div class= "container align-center" id="pad-container">
    <div class = "row top-buffer">
      <h1>All Upcoming Appearances</h1>
    </div>
    <div class = "col md-6">
      <ul *ngFor="let names of getData">
        <li>
          {{names.name}}
          {{names.date}}
          {{names.start_time}}
          {{names.end_time}}
          <button id = "jumbo-button" type="button" class="shadow btn btn-primary btn-sm"><a id = "btn-text" routerLink="/sign-up" routerLinkActive="active">View Details</a></button>
        </li>
      </ul> 
    </div>
  </div>
</div>>
