
  
<!--page content-->
    
<!--breadcrumb-->
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/list-appearances">Available Appearances</a></li>
          <li class="breadcrumb-item active" aria-current="page">Details</li>
          <li class="breadcrumb-item active" aria-current="page">Sign Up Confirmation</li>
        </ol>
      </nav>
</div>
  <div class = "container" style="text-align:center; padding-top: 120px; height: 500px; ">
    <div id = "form-container">
        <div class = "row">
          <div class = "col-md-6">
            <h1>See you there!</h1>
            <p>You have signed up for this event. The customer has been notified! Thanks!</p>
            <button class = "btn btn-primary" type="button" routerLink="/superfrog-landing">Home</button>
          </div>
          <div class = "col-md-6">
            <img class = "thankyou-img" src = "/assets/images/superfrogFountain.jpg" style = "max-width: 250px; max-height: 250px; border-top-left-radius: 50% 50%;
            border-top-right-radius: 50% 50%;
            border-bottom-right-radius: 50% 50%;
            border-bottom-left-radius: 50% 50%;">
          </div>
      </div>
    </div>
  </div>
  