
    <!--breadcrumbs-->
    <div >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Appearances Available for Payroll</li>
            </ol>
          </nav>
    </div>


<div style="text-align:center; padding-top:40px;">
  <div style = "padding-bottom: 40px;">
    <h1>Appearances Awaiting Payroll</h1>
  </div>
<!-- <div class = "container">
  <div *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)"></ng-fullcalendar>
    </div>
</div> -->
  <div class="form-group">
      <label for="exampleFormControlSelect1" style = "padding-right: 10px;">Select SuperFrog </label>
        <select (change)="onChange($event)">
          <option>All</option>
          <option *ngFor="let v of superfrogData" [value]="v.user.id">{{v.user.first_name }} {{v.user.last_name}}</option>
        </select>
    </div>


<div style = "padding-bottom: 40px;">
  <button type="button" class="btn btn-primary" style = "margin-left: 5px; margin-right: 5px;" (click)="getAppearances()">View All Payable Appearances</button>
</div>

<label>Start Date:
  <input type="date" name="start_date" [(ngModel)]="payroll_start">
</label>
<label>End Date:
  <input type="date" name="end_date" [(ngModel)]="payroll_end">
</label>
<button type="button" class="btn btn-primary" style = "margin-left: 5px; margin-right: 5px;" (click)="filter_SuperfrogAppearance()">Search</button>
  <div *ngFor="let names of appearanceData">
  <div class = "container" id = "request-container" style = "margin-bottom: 50px; margin-top: 50px;">
    <h3><a href="#">{{names.appearance.name}}</a></h3>
    <div class = "container" style = "margin: 25px;" style = "float: none; margin: 0 auto;">
      <!-- <input name="myName" type="checkbox"  [ngModel]="payroll_checkbox.checked" checklist-value="names.id" ng-change="change()">{{names.id}} -->
      <label>
        <input type="checkbox"
       name="names-{{names.id}}"
       #myItem
      (change)="OnCheckboxSelect(names.id, $event)">
      Submit for Payroll
    </label>
    <div>
      <input type="checkbox"
      name="names-{{names.id}}"
      #myItem1
     (change)="onNotPayable(names.id, $event)">
     Mark as Not Payable
    </div>
    
    <div class= "col-md-6">
      <p class = "label">Start Time</p>
      <p>{{names.appearance.start_time}}</p>
      <p class = "label">End Time</p>
      <p>{{names.appearance.end_time}}</p>
    </div>
    <div class= "col-md-6">
      <p class = "label">Date</p>
      <p>{{names.appearance.date}}</p>
      <p class = "label">Location</p>
      <p>{{names.appearance.location}}</p>
    </div>
    <div class = "col-md-6" style = "float: none; margin: 0 auto;">
        <p class = "label">Description</p>
        <p>{{names.appearance.description}}</p>
    </div>
    <div class = "col-md-6" style = "float: none; margin: 0 auto;">
      <p class = "label">Superfrog Assigned</p>
      <p>{{names.superfrog.user.first_name}} {{names.superfrog.user.last_name}}</p>
  </div>
    </div>
  </div>
  </div>
<div style = "padding-top:10px;">
  <button type="button" class="btn btn-primary" style = "margin-left: 5px; margin-right: 5px;" (click)="genPayroll()">Submit</button>
</div>
</div>
