
  <!--breadcrumb-->
  <div>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/superfrog-settings']">Settings</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Class Schedule</li>
          </ol>
        </nav>
  </div>

<!--page content-->

<div class = "container" style = "text-align: center; padding-top: 10px;">
  <div style = "padding-bottom : 10px;">
    <p>This is your class schedule. Click edit to make any changes.</p>
  </div>
  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (select) = "select($event.detail)"></ng-fullcalendar>
  </div>
</div>
 