<div style="text-align:center">
    <nav class="navbar navbar-expand-lg fixed-top" style= "background: white;">
        <a href = "#" class = "navbar-brand"><img src="/assets/images/sfLogo.png" class="img-fluid" alt="Responsive image" width="150" height="150" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav ml-auto">
                <li><a id = "a-nav" href="/list-appearances" routerLinkActive = "active" >SIGN UP</a></li>
                <li><a id = "a-nav" href="/view-appearance" routerLinkActive = "active">APPEARANCES</a></li>
                <li><a id = "a-nav" href="/superfrog-settings" routerLinkActive = "active" style = "font-weight:bold;">SETTINGS</a></li>
                <li><a id = "a-nav" href="/landing" routerLinkActive = "active">LOGOUT</a></li>
              </ul>
        </div>
      </nav>
  </div>


  <!--breadcrumb-->
  <div style = "padding-top: 75px;">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/superfrog-settings">Settings</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Class Schedule</li>
          </ol>
        </nav>
  </div>

<!--page content-->

<div class = "container" style = "text-align: center; padding-top: 10px;">
  <div style = "padding-bottom : 10px;">
    <p>This is your class schedule. Click edit to make any changes.</p>
  </div>
  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (select) = "select($event.detail)"></ng-fullcalendar>
  </div>
</div>
 