
  <!--breadcrumb-->
  <div>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a [routerLink]="['/view-appearance']" style = "color: #4d1979;">All My Appearances</a></li>
            <li class="breadcrumb-item active" aria-current="page">All SuperFrog Appearances</li>
          </ol>
        </nav>
  </div>
<!--page content-->
<div style="text-align:center; padding-top:10px;">
  <div style = "padding-bottom: 50px;">
    <h1>All Upcoming SuperFrog Appearances</h1>
  </div>
  <div class = "container" style = "padding-bottom: 10px;">
    <div class="form-group">
        <label for="exampleFormControlSelect1" style = "padding-right: 10px;">Select SuperFrog </label>
        <select (change)="onChange($event)">
            <option *ngFor="let v of superfrogData" [value]="v.user.id">{{v.user.first_name}} {{v.user.last_name}}</option>
          </select>
      </div>
</div>
  <div *ngFor="let names of appearanceData">
  <div class = "container" id = "request-container" style = "margin-bottom: 50px; margin-top: 50px;">
    <h3>{{names.appearance.name}}</h3>
    <div class = "container" style = "margin: 25px;" style = "float: none; margin: 0 auto;">
    <div class = "row">
      <div class= "col-md-6">
        <p class = "label">Start Time</p>
        <p>{{names.appearance.start_time}}</p>
        <p class = "label">End Time</p>
        <p>{{names.appearance.end_time}}</p>
      </div>
      <div class= "col-md-6">
        <p class = "label">Date</p>
        <p>{{names.appearance.date}}</p>
        <p class = "label">Location</p>
        <p>{{names.appearance.location}}</p>
      </div>
    </div>
    <div class = "col-md-6" style = "float: none; margin: 0 auto;">
        <p class = "label">Description</p>
        <p>{{names.appearance.description}}</p>
    </div>
    <div class = "col-md-6" style = "float: none; margin: 0 auto;">
      <p class = "label">SuperFrog Assigned: </p>
      <p>{{names.superfrog.user.first_name}} {{names.superfrog.user.last_name}}</p>
  </div>
    </div>
    <div class = "col-md-6" style = "float: none; margin: 0 auto; padding-top: 20px;">
      <button  class="btn btn-primary" type="accept" routerLink="/superfrog-appearance-details/{{names.id}}" routerLinkActive="active">View Details</button>
    </div>
  </div>
  </div>
</div>
<!-- 
<select ng-model="selectedSuperFrogAccount">
  <option value="">Select SuperFrog</option> 
 <option ng-repeat="item in appearanceData" value="{{item.id}}">{{item.appearance.name}}    
 </option></select> -->