
<div style="text-align:center;" >
<div class="jumbotron">
  <div class="container" style = "padding-bottom: 0px;">
    <h1 id = "jumbo-header" class="display-4">Bring some Superfrog Spirit to your event.</h1>
    <h3 class="lead">Book TCU's Superfrog for your wedding, grad party, & more.</h3>
    <button id = "jumbo-button" type="button" class="shadow btn btn-primary btn-xlarge" style = "padding: 10px; margin-top:30px;" routerLink="/instructions-page" routerLinkActive="active">BOOK NOW</button>
    <!--div style = "margin-top: 200px; color: #ffffff; font-size: 14px; font-weight: lighter;">╲╱</div-->
  </div>
</div>
<div class = "container-fluid">
  <div class = "row no-gutters">
    <div class = "col-sm-6 no-padding">
        <img src="/assets/images/superfrogJumbo.jpeg" alt="Superfrog info" class="responsive" style = " padding-top: 0px; min-width: 100%; min-height: 100%;">
    </div>
    <div class = "col-sm-6 no-padding" style = "background: #4d1979;">
        <h1 id = "about-header" style = "padding-top: 50px; color: white; ">There's only one Superfrog.</h1>
        <h1 id = "about-header" style = "padding-top: 10px; color: white;">______</h1>
        <div style = "padding-top: 40px; padding-bottom: 40px;">
          <p style = "color:white;">No other school shares our unique mascot, the Horned Frog.</p>
          <p style = "color:white;">Superfrog's history dates back to 1897 and he's </p> 
          <p style = "color:white;">been the beloved face of TCU since. </p>
        </div>
    </div>
  </div>
  <div class = "row no-gutters">
      <div class = "col-sm-6 no-padding" >
          <h1 id = "about-header" style = "padding-top: 75px; ">Make your memory one of a kind.</h1>
          <h1 id = "about-header" style = "padding-top: 10px; ">______</h1>
          <div style = "padding-top: 40px; padding-bottom: 40px;">
            <p>Are you Superfrog's biggest fan? Bring Superfrog's energy to your </p>
            <p>wedding, party, or event. You're guaranteed to have a blast.</p>
          </div>
      </div>
      <div class = "col-sm-6 no-padding">
          <img src="/assets/images/superfrogWedding.jpg" alt="Superfrog Wedding" class="responsive" style = "padding-top: 0px; min-width: 100%; min-height: 100%;">
      </div>
    </div>
</div>
<!-- img src="/assets/images/superfrogInfo.png" alt="Superfrog info" class="responsive" style = "padding-top: 0px;"-->
</div>
