@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #4d1979;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #4d1979;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 16px !important;
    font-weight: bold;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #4d1979;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.subtle {
    font-size: 14px;
    color: white;
    opacity: .5;
}

.lead {
    color: WHITE;
    font-family: 'Montserrat', sans-serif;
}

.card{
    border: 2px;

}

.jumbotron{
    background-image: url(/assets/images/SuperfrogFog.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: 0;
}

.btn-primary, .btn-primary:visited{
    color:#ffffff;
    background-color: #ffffff;
    border-color: #4d1979;
    border-radius: 0px;
    border-width: 1px;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
}

.btn-primary:hover{
    background-color:  #4d1979 !important;
    border-radius: 0px;
    border-color: #4d1979 !important;
    color: white;

}

.btn-outline-primary:hover{
    background-color: #4d1979 !important;
    color: white !important;
}


.card-img-top{
    max-width: 300px;
    max-height: 600px;
}
.top-buffer { margin-top:20px; }

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.responsive{
    max-height: 50%;
    max-width: 100%;
}

#jumbo-header {
    margin-top: 20%;
    color:white;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

#jumbo-button {
    background-color: transparent !important;
    border-color: white;
    border-radius:0;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 14px;
}

#jumbo-button:hover {

    background-color: #4d1979 !important;
}

#form-container {
    padding: 50px;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
}

#pad-container {
    padding: 50px;
}

#info-jumbotron{
    background-image: url(/assets/images/superfrogInfo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #FFFFFF;
    min-height:50px;
    padding-bottom: 10px; 

}

#a-nav {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #4d1979;
}

#a-nav:visited {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #4d1979;
}


#about-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #4d1979;
}
