<div style="text-align:center;" >
<div class="jumbotron" style=" padding-top: 120px;">
  <div class="container" >
    <h1 id = "jumbo-header" class="display-4">Bring some Superfrog Spirit to your event.</h1>
    <p class="lead">Book TCU's Superfrog for your wedding, party, & more. </p>
    <button id = "jumbo-button" type="button" class="shadow btn btn-primary btn-xlarge"><a id = "btn-text" routerLink="/request-form" routerLinkActive="active">Book now</a></button>
  </div>
</div>
</div>
<div class= "container">
  <h1>About</h1>
  <p>Superfrog is Texas Christian University's own Horned Frog mascot. This is where you can make a request for Superfrog to attend your event.</p>
  <div class="row" style = "padding: 75px;">
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="/assets/images/superfrogWedding.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Weddings</h2>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="/assets/images/superfrogFountain.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Graduation Parties</h2>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>