<div style="text-align:center; padding-top:125px;">
  <div class = "container align-center" id="request-container">
    <div>
      <h1>{{appearanceData.appearance.name}}</h1>
    </div>
    <div>
      <p>Status: {{appearanceData.appearance.status}}</p>
    </div>
    <div class = "row" style = "padding-top: 25px;">
      <div class = "col-md-4">
          <h3>Event Date</h3> <p>{{appearanceData.appearance.date}}</p>
          <h3>Time</h3> <p>{{appearanceData.appearance.start_time}} - {{appearanceData.appearance.end_time}}</p>
          <h3>Location</h3> <p>{{appearanceData.appearance.location}}</p>
      </div>
      <div class = "col-md-4">
          <h3>Spirit Members</h3> <p>{{appearanceData.appearance.cheerleaders}} Cheerleaders, 
              {{appearanceData.appearance.showgirls}} Showgirls </p>
          <h3>Special Instructions</h3> <p>{{appearanceData.appearance.parking_info}}</p>
          <h3>Description</h3> <p>{{appearanceData.appearance.description}}</p>
          
      </div>
      <div class = "col-md-4">
        <h3>Superfrog Assigned: </h3> <p>{{appearanceData.superfrog.user.first_name}} {{appearanceData.superfrog.user.last_name}}</p>
    </div>
    </div>
  </div>
</div>
