
  
  <!--page content-->
  <div>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/list-accept-request']">Pending Appearance Requests</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
            <li class="breadcrumb-item active" aria-current="page">Reject</li>
          </ol>
        </nav>
  </div>
  <div class = "container" style="text-align:center; padding-top: 40px; height: 500px; ">
    <div id = "form-container">
  
      <div class = "row">
        <div class = "col-md-6">
          <h1>Event Rejected</h1>
          <p>You have rejected this event request. The customer will be notified of the rejection.</p>
          <button class = "btn btn-primary" type="button" routerLink="/list-accept-reject">Home</button>
        </div>
        <div class = "col-md-6">
          <img class = "thankyou-img" src = "/assets/images/superfrogFountain.jpg" style = "max-width: 250px; max-height: 250px; border-top-left-radius: 50% 50%;
          border-top-right-radius: 50% 50%;
          border-bottom-right-radius: 50% 50%;
          border-bottom-left-radius: 50% 50%;">
        </div>
      </div>
    </div>
  </div>
  