
<!--body-->
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/superfrog-landing">My Upcoming Appearances</a></li>
          <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
      </nav>
</div>
<div style="text-align:center; padding-top:40px;">
  <div class = "container align-center" id="request-container">
      <h1 style = "padding-bottom: 10px;">{{landingData.name}}</h1>
<div style="text-align: center">
    <div class = "row">
      <div class = "col-md-4">
        <h3>Contact Name</h3> <p>{{landingData.customer.first_name}} {{landingData.customer.last_name}}</p>
        <h3>Phone Number</h3> <p>{{landingData.customer.phone}}</p>
        <h3>Email</h3> <p>{{landingData.customer.email}}</p>
      </div>
      <div class = "col-md-4">
          <h3>Event Date</h3> <p>{{landingData.date}}</p>
          <h3>Time</h3> <p>{{landingData.start_time}} - {{landingData.end_time}}</p>
          <h3>Location</h3> <p>{{landingData.location}}</p>
      </div>
      <div class = "col-md-4">
          <h3>Spirit Members</h3> <p>Cheerleaders: {{landingData.cheerleaders}}
               Showgirls: {{landingData.showgirls}}</p>
          <h3>Special Instructions</h3> <p>{{landingData.parking_info}}</p>
          <h3>Description</h3> <p>{{landingData.description}}</p>
          
      </div>

    </div>

  </div>
  

