

<!--page content-->

<div class = "container" style = "padding-top: 125px;">
  <div id = "form-container">
    <h1>You're on your way to an awesome event!</h1>
    <p>Here's some info you might need to know before making a request.</p>
    <div class = "row">
      <div class = "col-md-4">
        <h2>Requesting</h2>
        <p>You'll choose your event date from our calendar of available dates. Any event must be requested at least 2 weeks in advance.</p>
      </div>
      <div class = "col-md-4">
        <h2>Range</h2>
        <p>We can only service requests that are within a 100 mile radius from Amon G. Carter Stadium.</p>
      </div>
      <div class = "col-md-4">
        <h2>Pricing</h2>
        <p>SuperFrogs cost $175 an hour for private events, and $100 an hour for Public School, Non-profit, and TCU events. Showgirls and Cheerleaders are an added cost.</p>
      </div>
    </div>
    <div class = "row justify-content-center">
      <button class = "btn-primary btn-xlarge" routerLink="/request-form" routerLinkActive="active">Got it!</button>
    </div>
  </div>
</div>