@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #4d1979;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #4d1979;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 16px !important;
    font-weight: bold;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #a3a9ac;
    font-size: 16px;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
}


button {
    background-color: #4d1979 !important;
    border-color: #4d1979 !important;
    color: white !important;
    width: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: .25vh;
    font-family: 'Montserrat', sans-serif;
}

#thankyou-img {
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
}


.subtle {
    font-size: 14px;
    color: white;
    opacity: .5;
    font-family: 'Montserrat', sans-serif;
}

.lead {
    color: WHITE;
    font-family: 'Montserrat', sans-serif;
}

.card{
    border: 2px;
    font-family: 'Montserrat', sans-serif;

}

.jumbotron{
    background-image: url(/assets/images/superfrogFountain.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}


.card-img-top{
    max-width: 300px;
    max-height: 600px;
}
.top-buffer { margin-top:20px; }

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.btn-outline-primary:hover{
    background-color: #4d1979 !important;
    color: white !important;
}

.responsive{
    max-height: 50%;
    max-width: 100%;
}

#btn-text {
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#form-container {
    padding: 50px;
    -webkit-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 45px -1px rgba(0,0,0,0.75);
}

#pad-container {
    padding: 50px;
}

#info-jumbotron{
    background-image: url(/assets/images/superfrogInfo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #FFFFFF;
    min-height:50px;
    padding-bottom: 10px; 
    font-family: 'Montserrat', sans-serif;

}

#a-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #4d1979;
}

#a-nav:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #4d1979;
}