<!--nav-->
<div style="text-align:center">
  <nav class="navbar navbar-expand-lg fixed-top" style= "background: white;">
      <a href = "#" class = "navbar-brand"><img src="/assets/images/sfLogo.png" class="img-fluid" alt="Responsive image" width="150" height="150" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="nav navbar-nav ml-auto">
              <li><a id = "a-nav" href="#about">ABOUT</a></li>
              <li><a id = "a-nav" href="#contact">CONTACT</a></li>
              <li><a id = "a-nav" routerLink="/superfrog-landing" routerLinkActive="active">SUPERFROG LOGIN</a></li>
              <li><a id = "a-nav" href="/admin-landing" routerLinkActive = "active">ADMIN LOGIN</a></li>
            </ul>
      </div>
    </nav>
</div>

<!--page content-->

<div style="text-align:center; padding-top: 120px; ">
  <h1 style= "color: #4d1979;">Thank you!</h1>
  <p style="padding-top: 20px;">We have recieved your request. You will soon recieve an email confirming your request details and an event code.</p>
  <p>We will review your request and let you know if Superfrog will be available as soon as possible. Go Frogs!</p>
  <button type="button" class="btn btn-primary btn-large" routerLink="">Home</button>
  </div>