
<!--page content-->

<div class = "container" style="text-align:center; padding-top: 120px; height: 500px; ">
  <div id = "form-container">
    <div class = "row">
        
        <div class = "col-md-6">
        <h1>Thank you!</h1>
        <p>We have recieved your request. You will soon recieve an email confirming your request details and an event code. We will review your request and let you know if Superfrog will be available as soon as possible. Go Frogs!</p>
        <button class = "btn btn-primary" type="button" routerLink="">Home</button>
      </div>
      <div class = "col-md-6">
      <img class = "thankyou-img" src = "/assets/images/superfrogFountain.jpg" style = "max-width: 250px; max-height: 250px; border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;">
    </div>
    </div>
  </div>
</div>
