
  
<!--breadcrumb-->
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/list-appearances']">Available Appearances</a></li>
          <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
      </nav>
</div>

<!--body-->
<div style="text-align:center; padding-top:40px;">
    <div class = "container align-center" id="request-container">
        <h1 style = "padding-bottom: 10px;">{{getData.name}}</h1>
<div style="text-align: center">
      <div class = "row">

        <div class = "col-md-4">
          <p class = "label">Contact Name</p> <p>{{getData.customer.first_name}} {{getData.customer.last_name}}</p>
          <p class = "label">Phone Number</p> <p>{{getData.customer.phone}}</p>
          <p class = "label">Email</p> <p>{{getData.customer.email}}</p>
        </div>
        <div class = "col-md-4">
            <p class = "label">Event Date</p> <p>{{getData.date}}</p>
            <p class = "label">Time</p> <p>{{getData.start_time}} - {{getData.end_time}}</p>
            <p class = "label">Location</p> <p>{{getData.location}}</p>
        </div>
        <div class = "col-md-4">
            <p class = "label">Spirit Members</p> <p>Cheerleaders: {{getData.cheerleaders}}
                 Showgirls: {{getData.showgirls}}</p>
            <p class = "label">Special Instructions</p> <p>{{getData.parking_info}}</p>
            <p class = "label">Description<p> <p>{{getData.description}}</p>
            
        </div>

      </div>

    </div>
    <div>
      <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style = "margin-left: 5px; margin-right: 5px;">Sign Up</button>
        <button type="button" class="btn btn-primary" style = "margin-left: 5px; margin-right: 5px;" routerLink="/list-appearances">Back</button>    
      </div>
      <p class= "text-muted">Be aware that you will not be able to cancel your appearance once you sign up. You will have to contact admin to cancel.</p>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You are signing up to attend this event. A confirmation email will be send to the customer and you will not be able to undo this action. 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="signUp()" data-dismiss="modal" routerlink = "/confirm-signup" routerLinkActive = "active">I'm sure!</button>
          </div>
        </div>
      </div>
    </div>
    
    </div>
