


<div style="text-align:center; padding-top: 100px;">
  <div class = "container">
      <div *ngIf="edited" class="alert alert-danger" role="alert">
          <!---{{alert}}-->
          Incorrect username/password combination.
      </div>
    <h1> Staff Login</h1> <br>
    <div class = "row justify-content-center">
      <div class = "col-md-4">
        <input [(ngModel)] = "user.email" placeholder="Email address" class="form-control form-control-lg"> <br>
        <input [(ngModel)] = "user.password" type="Password" placeholder="Password" class="form-control form-control-lg"> <br>
        <input [(ngModel)] = "isAdmin" type="checkbox" style="padding: 30px"> <label class = "input-label"> Login as an admin</label><br>
        <p><a href = "http://3.94.88.53:8000/reset-password"> Forgot password?</a></p>
      </div>
      
    </div>
    
    <div class = "row justify-content-center">

      <button class = "btn btn-primary" (click) = "onRegister()" hidden> Register</button>
      <button class = "btn btn-primary" (click) = "onLogin()"> Login</button> <br>
    </div>
  </div>
</div>