
<!--breadcrumb-->
  <div style = "padding-top: 75px;">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Calendar</li>
          </ol>
        </nav>
  </div>
<!--page content-->
<div class = "container" style = "padding-top: 40px;">
  <div *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
          (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
  </div>
</div>