
  
  <!--Body-->
  <div>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
          </ol>
        </nav>
  </div>

  <!--Page Content -->
  
  <div class = "container align-center" style="padding-top: 10px;" >
    <div style="text-align:center">
        <h1>SuperFrog Settings</h1>  
        <div class="container align-center" id="pad-container">
        <div class="list-group">
            <a [routerLink]="['/superfrog-class-schedule']" class="list-group-item list-group-item-action">My Class Schedule</a>
          </div>
        </div>
      </div>
    </div>