<div style="text-align:center">
    <nav class="navbar navbar-expand-lg fixed-top" style= "background: white;">
        <a href = "#" class = "navbar-brand"><img src="/assets/images/sfLogo.png" class="img-fluid" alt="Responsive image" width="150" height="150" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav ml-auto">
                <li><a id = "a-nav" href="/list-appearances" routerLinkActive = "active" >SIGN UP</a></li>
                <li><a id = "a-nav" href="/view-appearance" routerLinkActive = "active">APPEARANCES</a></li>
                <li><a id = "a-nav" href="/superfrog-settings" routerLinkActive = "active" style = "font-weight:bold;">SETTINGS</a></li>
                <li><a id = "a-nav" href="/landing" routerLinkActive = "active">LOGOUT</a></li>
              </ul>
        </div>
      </nav>
  </div>


  <!--breadcrumb-->
  <div style = "padding-top: 75px;">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/superfrog-settings">Settings</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Class Schedule</li>
          </ol>
        </nav>
  </div>


<div class = "container" style="text-align:center; padding-top: 75px;">
    <h1>Superfrog Settings</h1>
    <form name='form' [formGroup]='form'>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="email" class="form-control form-control-lg" id="inputEmail4" placeholder="First Name" [(ngModel)]="data.superfrog.first_name" [ngModelOptions]="{standalone: true}" name="first_name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input class="form-control form-control-lg" id="inputPassword4" placeholder="Last Name" [(ngModel)]="data.superfrog.last_name" [ngModelOptions]="{standalone: true}" name="last_name">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control form-control-lg" id="inputEmail4" placeholder="Email" [(ngModel)]="data.superfrog.email" [ngModelOptions]="{standalone: true}" name="email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Phone Number</label>
              <input class="form-control form-control-lg" placeholder="Phone Number" [(ngModel)]="data.superfrog.phone" [ngModelOptions]="{standalone: true}" name="phone">
            </div>
          </div>
        <button type="submit" class="btn btn-primary btn-lg" (click)="updateContact();" style = "margin-top: 20px; background-color: #4d1979; border-color:#4d1979;">Update Contact Info</button>
      </form>
</div>